{% extends 'base.html' %}
{% block title %}Persona{% endblock %}
{% block content %}
<div class="page-header">
  <h2>Eliminar Persona</h2>
</div>
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <h5>Desea eliminar el registro del empleado {{ persona.nombre }}</h5>
    <p>...</p>
    <button class="btn btn-danger btn-sm" type="submit">Si, eliminar</button>
    <a class="btn btn-default btn-sm" href="{% url 'persona_listar'%}">Cancelar</a>
</form>
{% endblock %}
